a{
    color: black !important;
    text-decoration: none;
}
.produit{
    width: 20vw;
    height: 20vh;
    border: 1px solid silver !important;
    background-color: blueviolet;
}
.card-image{
    height: 170px;
    object-fit: cover;
}
.text{
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:100ch;
}