<main class="form-signin container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 shadow radius-30 my-4">
            <form class="form-group" [formGroup]="signupForm" (ngSubmit)="login(signupForm)">
                
                    <h2 class="text-center">S'inscrire</h2>
                    <div class="form-field">
                        <label>Nom:</label>
                        <input type="text" class="form-control" formControlName="name" required>
                    </div>
                    <div class="form-field">
                        <label>E-mail:</label>
                        <input type="email" class="form-control" formControlName="email" required>
                    </div>
                    <div class="form-field">
                        <label>Password:</label>
                        <input type="password" class="form-control" formControlName="password" required>
                    </div>
                
                <div class="form-buttons">
                    <button class="btn btn-primary my-2">Register</button>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</main>
